body{
    display: flex;
}

.left{
    display: flex;
    flex:2;
    background-image: url("left bg.jpg");
    background-size: cover;
}

label{
    color: white;
    text-align: left;
}

.mainInputs>*{
    width: 200px;
}

.right{
    display: flex;
    flex:5;
    background-image: url("right bg.jpg");
    background-size: cover;
}

.input-side{
    width: 60%;
    display: table-cell;
    margin-inline: 20%;
    margin-top: 10%;
    height: 700px;
    overflow-y:inherit;
    border-radius: 10px;
}

.form{
    text-align: center;
    vertical-align: middle;
    
}

#fifowac{
    margin: 40px auto 40px;
    width: 150px;
}

#add,#undo{
    width: 100px;
}

#Reset{
    width: 100px;
    margin-bottom: 100px;
}


.table-side{
    display: table-cell;
    padding-left: 20px;
}

.table{
    border-collapse: collapse;
}

.table-side{
    width: 98%;
}

h1{
    color:azure;
    text-align: center;
    padding: 4px;
}

th,td{
    border: 1px solid black;
    text-align-last: center;
    vertical-align: middle;
}

h5{
    color:dimgrey;
}

td{
    height: 35px;
}

.date{
    width: 100px;
}