body{
    display: flex;
}

.left{
    display: flex;
    flex:2;
    background-color:dimgrey;
}

.right{
    display: flex;
    flex:4;
    background-color:bisque;
}

.input-side{
    width: 60%;
    display: table-cell;
    margin: 100px auto;
    height: 550px;
    overflow-y:inherit;
    background-color: azure;
    border-radius: 10px;
}

.form{
    text-align: center;
    vertical-align: middle;
    
}

#fifowac{
    margin: 40px auto 40px;
    width: 150px;
}

#add{
    
    width: 100px;
}

#undo{    
    width: 100px;
}

#Reset{
    width: 100px;
    margin-bottom: 100px;
}


.table-side{
    display: table-cell;
    padding-left: 20px;
}

.table{
    border-collapse: collapse;
}

.table-side{
    width: 98%;
}

th,td{
    border: 1px solid black;
}